<!DOCTYPE HTML>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <header>
        <div id="siteLogo">
            <a href="{{ site.url }}"><img src="{{ site.url }}/images/logo.png" alt="FFEM Logo"></a>
        </div>
        <div id="siteTitle">
            <h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
        </div>
    </header>
    <nav id="primary_nav_wrap">
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="{{ site.url }}/about">About</a>
                <ul>
                    <li><a href="{{ site.url }}/team">Team</a></li>
                    <li><a href="{{ site.url }}/board">Board</a></li>
                    <li><a href="{{ site.url }}/advisors">Advisors</a></li>
                    <li><a href="{{ site.url }}/partners">Partners</a></li>
                    <li><a href="{{ site.url }}/work">Work with us</a></li>
                </ul>
            </li>
            <li><a href="{{ site.url  }}/products">Products</a>
                <ul>
                    <li><a href="{{ site.url }}/water">Water</a></li>
                    <li><a href="{{ site.url }}/soil">Soil</a></li>
                </ul>
            </li>
            <li><a href="{{ site.url }}/services">Services</a></li>
            <li><a href="{{ site.url }}/research">Research</li>
        <li><a href="{{ site.url }}/shop">Shop</a></li>
            <li><a href="{{ site.ulr }}/blog">Blog</a></li>
            <li><a href="{{ site.url }}/contact">Contact</a></li>
        </ul>
    </nav>
    <article>
        <h2>{{ page.title }}</h2>
        {{ content }}
    </article>
    <footer>
        <div id="terms">
            <a href="privacy">Privacy Policy</a>
        </div>
        <div id="contact">
            <p>Foundation for Environmental Monitoring (ffem)<br>#67 (old 125), 2nd Floor, Infantry Road, Bangalore 560001, India<br><a href="mailto:info@ffem.io">info@ffem.io</a> +91 80 4814 4892 <a href="http://ffem.io">ffem.io</a></p>
        </div>
        <div id="license">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </div>
    </footer>
</body>

</html>