body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

article {
	float: left;
	width: 69%;
}

footer {
	clear: both;
	padding: 1em 0 1em 0;
	font-size: 0.7em;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

a:link, a:visited, a:hover, a:active {
	color: #999;
	text-decoration: underline;
}

a.active:link, a.active:visited, a.active:hover, a.active:active {
	color: #a00;
	text-decoration: underline;
}

header a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

article table td {
	padding: 0.5em;
	margin: 0;
	border: 1px solid #444;
}


article table th {
	padding: 0.5em;
	margin: 0;
	border: 1px solid #444;
	font-weight: bold;
}

#container {
	width: 100%;
	min-width: 800px;
}

header {
	overflow: hidden;
}

#headerNav {
	float: left;
	width: 30%;
}

img {
  max-width: 100%;
}
